.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.filelist a { color: #fff; }

.playercontainer {
  background:#000;
}

.draghover {
  background:#000;
  opacity: 0.5;
}

.hscroll {
  overflow: auto;
  margin-bottom: 14px;
}

.hscroll::-webkit-scrollbar {
    -webkit-appearance: none;
}

.hscroll::-webkit-scrollbar:horizontal {
    height: 11px;
}

.hscroll::-webkit-scrollbar-thumb {
    border-radius: 2px;
    border: 1px solid #93C3E9; /* should match background, can't be transparent */
    background-color: #A0D4FD;
}

.hscroll::-webkit-scrollbar-track {
    background-color: #333;
    border-radius: 8px;
}
