.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 10px 20px 20px;
  color: white;

  h1 {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.App-players {
  display: flex;

  div.rendered-react-keyed-file-browser div.files table {
    margin-bottom: 0;
    padding-bottom: 10px;
  }
}

.App-players > div {
  width: 50%;
  flex-basis: auto;
}

.App-footer {
  /* Dark theme for the footer */
  color: #ccc;
  background-color: #222;
  margin: 0;
  padding-top: 10px;

  a {
    color: #69a9e6;
  }
}

/* TODO: Should give this CSS a bit of structure if it grows... */
.mix-controls {
  display: flex;
}

.rc-slider.crossfader {
  width: 300px;
  margin: 0 auto;
}

.rc-slider.pitch-control {
  width: 200px;
}

.bpm-shift-value {
  position: relative;
  left: -100%;
  top: -20px;
}
